# Ignore build artifacts
build/

# Ignore common layers, only include layers specific for the project
layers/*
!layers/meta-em-odp
!layers/meta-menabrea
!layers/meta-menabrea-app
!layers/meta-menabrea-kernel
!layers/meta-menabrea-platform
