[Unit]
Description=Menabrea platform

[Service]
Type=forking
ExecStart=python3 /opt/menabrea.py
# Kill the processes with SIGINT (fdserver forked by odp_init_global() ignores it and dispatchers handle it gracefully)
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
